
r2rpc:
 server:
  responder:
    defaults:
      codecs: [json]
      transport: tcp
    endpoints:
      - name: foo
        port: 8083
        api:
          - bar
          - baz

 client:
  requester:
    endpoints:
      - name: foo
        api:
          - bar
          - baz

logging:
  level:
    com.github.mostroverkhov.r2: DEBUG
